.App, html {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #def3f6;
  height: 100vh;
  font-family: 'Segoe UI';
  font-size: 2.4vmin;
}


.topnav {
  background-color: #fdf0c9;
  margin:0px;
  border: 10px black;
  padding:0.25vmin;
}

.nav {
  display: inline;
  padding: 2.5vmin;
  font-size: medium;
  text-decoration: none;
}

.region-button {
  text-decoration: none;
  box-sizing: border-box;
  display: inline;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #92DE34;
  width: 30vmin;
  height: 10vmin;
  border-radius: 12vmin;
  font-size: 2.7vmin;
  font-weight: 600;
  color: #025600;
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px #92DE34 inset;
  margin: 1.2vmin;
}

.container {
  height:100vh;
}