.App, html {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #def3f6;
  height: 100vh;
  font-family: 'Garamond';
  font-size: 2.4vmin;
}


.topnav {
  background-color: #fdf0c9;
  margin:0px;
  border: 10px black;
  padding:0.25vmin;
}

.nav {
  display: inline;
  padding: 2.5vmin;
  font-size: medium;
  text-decoration: none;
}

.container {
  height:100vh;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}