.correct-ans {
    color: green;
    background-color: rgb(198, 231, 191);
}

.wrong-ans {
    color: red;
    background-color: rgb(231, 191, 198);
}

#correct-click {
    border: 0.75vmin solid green;
}

#wrong-click {
    border: 0.75vmin solid red;
}